* {
	box-sizing: border-box;
}

body{
	font-family: Arial, Helvetica, sans-serif;

}


.grid {
	display:flex;
	flex-direction: row;
	flex-wrap:wrap;
	margin:0 auto;
	margin-top:1em;
	max-width:95%;
}

ul {
	list-style-type: none;
	margin: 1em;
	padding: 1em;
	overflow: hidden;
	border: 2px solid white;
	background-color: blue;
	position: sticky;
	top: 0;
	width:;
}

li{
	float:left;
	border-right: 2px solid white;
}