* {
	box-sizing: border-box;
}

body{
	font-family: Verdana,Geneva,sans-serif; 
	margin: 1em;
}


/*Colors: 
e0e0e2 Gainsboro
81d2c7 Middle Blue Green
b5bad0 Light Periwinkle
7389ae Shadow Blue
416788 Queen Blue*/

h3{
	font-size: 2em;
	padding-left: 1em;
}

.logo-pic{
	width: 4.5em;
	height: 4.6em;
	float:left;
	background-color: white;
}

.heading1{
	font-family: Candara,Calibri,Segoe,Segoe UI,Optima,Arial,sans-serif; 
	font-size: 6em;
	position: relative;
	transition: .5s ease;
}

.heading2{
	font-family: Candara,Calibri,Segoe,Segoe UI,Optima,Arial,sans-serif;
	transition: .5s ease;
	font-size: 4em;
}

.frontgrid{

}

.grid {
	display:flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin:0 auto;
	width: 80%;
	align-content: center;
}

.grid-item{
	height: 40%;
	width: 30%;
	padding: 1em 1em;
	flex: 1 1 40%;
	transition: .5s ease;
}


.frontitem{
	height:auto;
	width: 20%;
	flex: 1 1 20%;
	transition: .5s ease;
}

.frontitem2{
	height:auto;
	width: 20%;
	flex: 1 1 5%;
	transition: .5s ease;
}
nav{
	margin-bottom: 5em;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	border: .1em solid white;
	background-color: #81D2C7;
	position: sticky;
	height: 4.2em;
	border-radius: 1em;
}

li{
	float:left;
	padding:.4em;
	border-right: .5em solid white;
	font-weight: bold;
	font-size: 2em;


}

footer{
	width: 100%;
	text-align: center;
	align-content: center;
	align-items: center;
}

a{
	color: #344966;
}

a:hover{
	color: #0D1821;
}

div {
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	
}



.frontimg{
	width:100%;
	height:auto;
	border-radius: 0;
}
